$primary-normal:#413434;
$primary-normal2:#6B5555;
$primary-text:#C3B9B9;
$primary-black-text:#0B0505;
$primary-mouse-hover: #AF8D8D;
$primary-rosa-salmao:#F7B9AB;
$primary-vermelho-fosco:#DE2700;
$primary-vermelho-fosco-escuro:#B53216;
$primary-marrom-fosco:#9C5242;
$primary-marrom-escuro:#60453F;

$anapaula-color-rosa: #C16F6C;
$anapaula-color-azul: #65BDA4;
$anapaula-color-laranja: #EF9C12;
$anapaula-color-branco: #FFFFFF;
$anapaula-color-preto: #000000;